<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
    <add name="Conexion" connectionString="workstation id=JEICDataBase.mssql.somee.com;packet size=4096;user id=JEIC;pwd=alexbryanjavi;data source=JEICDataBase.mssql.somee.com;persist security info=False;initial catalog=JEICDataBase"/>
	</connectionStrings>

</configuration>