<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<connectionStrings>
	<add name="Conexion" connectionString="workstation id=JeicRef.mssql.somee.com;packet size=4096;user id=EasySchedule_SQLLogin_1;pwd=3vvxkvflgr;data source=JeicRef.mssql.somee.com;persist security info=False;initial catalog=JeicRef"/>
</connectionStrings>
		
</configuration>